{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for item in object_list %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card mb-3" >
            {% comment %} <div class="card mb-3" style="width: 18rem;"> {% endcomment %}
                {% with item.product_photos.first as photo %}
                {% if photo %}
                    <a href="product/{{ item.pk }}">
                        <img src="{{photo.photo.url}}" class="card-img-top">
                    </a>
                {% else %}
                    <p>No photo</p>
                {% endif %}
                {% endwith %}
                <div class="card-body">
                    <a href="/product/{{ item.pk }}"><h5 class="card-title">{{ item.name }}</h5></a>
                    <p class="card-text">{{ item.price }} p.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
